in/transactions_amostra.csv
out/production/big-data-mapreduce-hadoop3-student/advanced/entropy/BaseQtdWritable.class
out/production/big-data-mapreduce-hadoop3-student/advanced/entropy/EntropyFASTA.class
out/production/big-data-mapreduce-hadoop3-student/advanced/entropy/EntropyFASTA$MapEtapaA.class
out/production/big-data-mapreduce-hadoop3-student/advanced/entropy/EntropyFASTA$MapEtapaB.class
out/production/big-data-mapreduce-hadoop3-student/advanced/entropy/EntropyFASTA$ReduceEtapaA.class
out/production/big-data-mapreduce-hadoop3-student/advanced/entropy/EntropyFASTA$ReduceEtapaB.class
out/production/big-data-mapreduce-hadoop3-student/TDE/AverageMinMaxWritable.class
out/production/big-data-mapreduce-hadoop3-student/TDE/AverageWritable.class
out/production/big-data-mapreduce-hadoop3-student/TDE/TDE11.class
out/production/big-data-mapreduce-hadoop3-student/TDE/TDE11$Tde11Mapper.class
out/production/big-data-mapreduce-hadoop3-student/TDE/TDE11$Tde11Reducer.class
out/production/big-data-mapreduce-hadoop3-student/TDE/TDE12$Tde12Mapper.class
out/production/big-data-mapreduce-hadoop3-student/TDE/TDE12$Tde12Reducer.class
out/production/big-data-mapreduce-hadoop3-student/TDE/TDE13$Tde13Mapper.class
out/production/big-data-mapreduce-hadoop3-student/TDE/TDE13$Tde13Reducer.class
out/production/big-data-mapreduce-hadoop3-student/TDE/TDE14.class
out/production/big-data-mapreduce-hadoop3-student/TDE/TDE14$Tde14Mapper.class
out/production/big-data-mapreduce-hadoop3-student/TDE/TDE14$Tde14Reducer.class
out/production/big-data-mapreduce-hadoop3-student/TDE/TDE15.class
out/production/big-data-mapreduce-hadoop3-student/TDE/TDE15$Tde15Mapper.class
out/production/big-data-mapreduce-hadoop3-student/TDE/TDE15$Tde15Reducer.class
out/production/big-data-mapreduce-hadoop3-student/TDE/TDE16.class
out/production/big-data-mapreduce-hadoop3-student/TDE/TDE16$Tde16Mapper.class
out/production/big-data-mapreduce-hadoop3-student/TDE/TDE16$Tde16Reducer.class
out/production/big-data-mapreduce-hadoop3-student/TDE/TDE17.class
out/production/big-data-mapreduce-hadoop3-student/TDE/TDE17$MapA.class
out/production/big-data-mapreduce-hadoop3-student/TDE/TDE17$MapB.class
out/production/big-data-mapreduce-hadoop3-student/TDE/TDE17$ReduceA.class
out/production/big-data-mapreduce-hadoop3-student/TDE/TDE17$ReduceB.class
out/production/big-data-mapreduce-hadoop3-student/TDE/TransactionWritable.class
output/forestfire.csv/_SUCCESS
output/forestfire.csv/._SUCCESS.crc
output/forestfire.csv/.part-r-00000.crc
output/forestfire.csv/part-r-00000
output/intermediate.tmp/.part-r-00000.crc
output/intermediate.tmp/part-r-00000
output/media.csv/_SUCCESS
output/media.csv/._SUCCESS.crc
output/media.csv/.part-r-00000.crc
output/media.csv/part-r-00000
output/tde12.csv/.part-r-00000.crc
output/tde12.csv/part-r-00000
output/tde13.csv/.part-r-00000.crc
output/tde13.csv/part-r-00000
output/tde15.csv/.part-r-00000.crc
output/tde15.csv/part-r-00000
output/tde16.csv/.part-r-00000.crc
output/tde16.csv/part-r-00000
output/tde17.csv/.part-r-00000.crc
output/tde17.csv/part-r-00000
src/advanced/entropy/EntropyFASTA.java
src/TDE/TDE11.java
src/TDE/TDE12.java
src/TDE/TDE13.java
src/TDE/TDE14.java
src/TDE/TDE15.java
src/TDE/TDE16.java
src/TDE/TDE17.java
